body {
  font-family: Helvetica, sans-serif;
  text-align: center; 
  font-size: 18pt;
  font-weight: 200;
  font-style: normal;
  background-color: #006633;
  color: white; 
}
body #main {
  background-color: #CC6600;
  color: #FFF0B8;
  width: 80%;
  left: 10%;
  position: relative;
  padding: 10px;
  border: 5px solid #CC3300;
  border-radius: 10px; 
}
body h2 {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  text-align: right;
  color: #fff0b8;
  background-color: #cc6600;
}
body h3 {
  font-family: Helvetica, sans-serif;
  font-size: 24pt;
  font-weight: 200;
  font-style: normal;
  text-align: center; 
  background-color: #CC6600;
}
body h2 {
  font-family: Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  background-color: #CC6600;
}
body h1 {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  font-weight 200;
  font-style: normal;
  text-align: left;
  background-color: #CC6600;
}
body .newly_listed {
  position: relative;
  top: -5px;
  width: 20%;
  left: 10%;
  background-color: #6D8DB7;
  color: #FFD3B8;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
}
body .ending_soon {
  position: absolute;
  top: 90px;
  width: 20%;
  left: 40%;
  background-color: #6D8DB7;
  color: #FFD3B8;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
}
body .close_to_target {
  position: absolute;
  top: 90px;
  width: 20%;
  left: 70%;
  background-color: #6D8DB7;
  color: #FFD3B8;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
}
body .products_table caption {
  font-family: Helvetica, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  font-style: normal; 
}
body th {
  font-weight: bold; 
}
body a:link, body a:visited, body .products_table th {
  color: #fff0b8;
}
body .product_form_label{
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  color: #fff0b8;
}
body .product_form_field{
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  padding: 3px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color:#888;
  outline:none;
  display: inline-block;
}
