body {
  font-family: Helvetica, sans-serif;
  text-align: center; 
  font-size: 18pt;
  font-weight: 200;
  font-style: normal;
  background-color: #006633;
  color: white; 
}
body #main {
  background-color: #CC6600;
  color: #FFF0B8;
  width: 90%;
  left: 5%;
  position: relative;
  padding: 10px;
  border: 5px solid #CC3300;
  border-radius: 10px; 
}
body h3 {
  font-family: Helvetica, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  font-style: normal;
  text-align: center; 
  background-color: #CC6600;
}
body h2 {
  font-family: Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  background-color: #CC6600;
}
body .newly_listed {
  position: relative;
  top: -5px;
  width: 20%;
  left: 0%;
  background-color: #6D8DB7;
  color: #FFD3B8;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
}
body .ending_soon {
  position: absolute;
  top: 90px;
  width: 20%;
  left: 35%;
  background-color: #6D8DB7;
  color: #FFD3B8;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
}
body .close_to_target {
  position: absolute;
  top: 90px;
  width: 20%;
  left: 70%;
  background-color: #6D8DB7;
  color: #FFD3B8;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
}
body .products_table caption {
  font-family: Helvetica, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  font-style: normal; 
}
body th {
  font-weight: bold; 
}
body a:link, body a:visited, body .products_table th {
  color: #A9511D;
  background-color: #6D8DB7; 
}
body .price {
    text-align: right; 
}
