body {
  font-family: Helvetica, sans-serif;
  text-align: center; 
  font-size: 18pt;
  font-weight: 200;
  font-style: normal;
  background-color: #000000;
  color: #FF9900; 
}
body #main {
  background-color: #393939;
  opacity: 1;
  color: #E68A00;
  width: 90%;
  left: 5%;
  position: relative;
  padding: 10px;
  border: 5px solid #E68A00;
  border-radius: 10px;
}
body h4{
  font-family: Helvetica, sans-serif;
  text-align: center; 
  font-size: 28pt;
  font-weight: 2000;
  font-style: normal;
  background-color: transparent;
  color: white;
  text-shadow: black;
}
body h3 {
  font-family: Helvetica, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  font-style: normal;
  text-align: center; 
  opacity: 1.0;
  background-color: transparent;
}
body h2 {
  font-family: Helvetica, sans-serif;
  font-size: 20pt;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
body h1 {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  background-color: transparent;
}
body .newly_listed {
  position: relative;
  top: -33px;
  width: 30%;
  left: 0%;
  background-color: #6e6e6e;
  color: #E68A00;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
  border: 5px solid #E68A00;
  border-radius: 10px;
}
body .ending_soon {
  position: absolute; 
  top: 62px;
  width: 32%;
  left: 34%; 
  opacity: 1.0;
  background-color: #6E6E6E;
  color: #E68A00;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
  border: 5px solid #E68A00;
  border-radius: 10px;
}
body .close_to_target {
  position: absolute;
  top: 62px;
  width: 30%;
  left: 69%;
  background-color: #6E6E6E;
  color: #E68A00;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
  border: 5px solid #E68A00;
  border-radius: 10px;
}
body .search_results {
  position: relative;
  top: 0px;
  width: 100%;
  background-color: #6E6E6E;
  color: #E68A00;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
  border: 5px solid #E68A00;
  border-radius: 10px;
}
body .products_table caption {
  font-family: Helvetica, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  font-style: normal;
}
body th {
  font-weight: bold; 
  color: #FFFFFF;
}
body a:link, body a:visited, body .products_table th {
  color: #FFFFFF;
  background-color: transparent; 
}
body .price {
  text-align: right;
  color: #FFFFFF;
}
body .description {
  color: #FFFFFF;
}
body .pledges {
  color: #FFFFFF; 
}
body .tilting { 
  color: #FFFFFF; 
}
body .target {
  color: #FFFFFF; 
}
body .timecreated {
  color: #FFFFFF; 
}
body .timeleft {
  color: #FFFFFF;
}
body .percent {
  color: #FFFFFF; 
}
body .back_link:link {
  color: #980000;
  text-align: right;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
}
body .product_form {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
}

body .centered_table {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.search_box {
    text-align: left;
}

.user_name {
  font-family: Helvetica, sans-serif;
  text-align: right;
  font-size: 28pt;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: white;
  text-shadow: black;
}
body .user_table1{
  position: relative;
  top: 0px;
  width: 45%;
  left: 1.5%;
  background-color: #6e6e6e;
  color: #E68A00;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
  border: 5px solid #E68A00;
  border-radius: 10px;
}
body .user_table2 {
  position: absolute;
  top: 95px;
  width: 45%;
  right: 0%;
  background-color: #6E6E6E;
  color: #E68A00;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  font-style: normal; 
  border: 5px solid #E68A00;
  border-radius: 10px;
}

