#main
    %h3 Welcome! Below are some hot products!

    %table.newly_listed
        %th Newly Listed!
            
    %table.close_to_target
        %th Close To Target!
            
    %table.ending_soon
        %th Ending Soon!
