!!! 8
%html
  %head
    %meta{ charset: 'utf-8' }
    %title GroupBuy!
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  
  %body
    #header
      %h1 GroupBuy!
    = yield

